@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:500,400,700|Inter:400");
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1726px;
    line-height: 1.8em;
    
}

.container .section{
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

html,body,.container,.header {
    padding: 0;
    margin: 0 auto;
    font-family: 'Roboto';
}
/* .top-bar{
    background-color: #000;
    height: 48px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family:'Lustria';
} */
.top-bar span{
    display: block;
    color:#fff;
}
/* .top-bar .left-letter{
    width: 48px;
    height: 48px;
    background-color: #D41A2B;
    display: block;
    line-height: 48px;
    text-align: center;
    font-size:32px;
} */
/* .top-bar .bar-title{
    padding-left: 1em;
    font-size:22px;
} */
.header{
    width: 100%;
    background-image: url(../image/header-bg.png);
    background-position: center;
    background-size:cover;
    display: block;
    height: 1073px;
}
/* .header .nav{
    height: 80px;
    background-color: rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    padding:0 80px 0 30px;
    justify-content: space-between;
    width:100%;
    box-sizing: border-box;
} */
/* .header .nav .arrow-left{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-right: 4px solid #fff;
    border-top: 4px solid #fff;
    transform: rotate(225deg);
    border-radius: 2px;
} */

.header .nav ul{
    color:white;
    font-size:23px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.header .nav li{
    display: block;
    height:50px;
    margin:0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .nav li a{
    color: inherit;
    text-decoration: none;
}
.header .nav li a:hover{
    text-decoration: underline;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card .title{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 1.5em;
}
.card .content{
    font-size:22px;
}
.card-size1{
    width:70%;
}
.header-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7em;
    align-items: center;
}
.header-body .title{
    color:#fff;
}
.header-body .content{
    color:#fff;
}
.header-body .header-description{
    margin-bottom: 8em;
}
.header-body .image-gallery{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.header-body .image-gallery .image-item{
    width:33.33%;
}
.header-body .image-gallery .image-item img{
    width:100%;
}
.section-1{
    width:100%;
    height: 641px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(41,140,69);
    background: linear-gradient(117deg, rgba(41,140,69,1) 0%, rgba(100,165,66,1) 48%, rgba(224,218,60,1) 100%);
}
.section-1 .section-body{
    color:#fff;
    margin-top: -100px;
}
.section-1 .section-body .content{
    text-align: center;
}
.section-2{
    width:75%;
    background-color: #fff;
    padding:1em 4em;
    margin-top:-9em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.img-card img{
    width:100%;
}
.img-card .description{
    font-size:18px;
    padding: 2em 8em;
    margin-top: 2em;
}
.img-card .key-notice {
    font-weight: 800;
    background-color: rgba(71,165,119,0.4);
    padding: 0.5em;
    border-radius: 0.5em;
    margin:2em 0;
    
}
