
.blocktitle{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: relative;
    width:100%; 
    margin-top: 0px; 
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
}

h1{
    color: black;
}
