/* waste and recycling styles */ 
/*attempting to use figma*/
.body {
  width:1728px;
  margin-right: 0px; 
}

.waste-recycling {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 4561px;
  overflow: hidden;
  width: 1728px;
}

.navbar-link-container {
  height: 28px;
  position: relative;
  width: 981px;
}

.ghg-header {
  color: white;
  font-size: 24px;
  width: 267px;
  height: 28px;
  top: 26px;
  left: 737px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.wr-header {
  color: white;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 267px;
  height: 28px;
  top: 26px;
  left: 1030px;

}

.c-header {
  color: white;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 267px;
  height: 28px;
  top: 26px;
  left: 1253px;
}

.engage-header {
  color: white;
  font-size: 24px;
  left: 1451px;
  letter-spacing: 0;
  line-height: 10.6px;
  position: absolute;
  text-align: center;
  top: 36px;
  white-space: nowrap;
  width: 267px;
  height: 28px;
}

.overlap-group6 {
  align-self: flex-start;
  height: 1200px;
  margin-left: 0px;
  margin-top: 0px;
  position: relative;
  width: 1728px;
}

/*top bar and "northeastern" */ 
.overlap-group {
  height: 53px;
  margin-top: -5px;
  position: relative;
  width: 48px;
}

.top-bar {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  gap: 20px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 38px;
  width: 1728px;
}

.northeastern-university {
  color: white;
  font-family: Lava Telugu;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 8px;
  min-height: 27px;
  width: 279px;
  height: 27px;
  left: 68px;
}

.n {
  background-color: #d41a2b;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 48px;
}

.n-1 {
  color: white;
  font-family: var(--font-family-lava_telugu-regular);
  font-size: 32px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  width: 28px;
}

/* wording at the top */ 

.white-guide-bar {
  align-items: flex-end;
  background-color: #ffffff33;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 80px;
  left: 0px;
  padding: 21.5px 10px;
  position: absolute;
  top: 86px;
  width: 1728px;
}

.flex-row {
  align-items: flex-end;
  display: flex;
  gap: 676px;
  margin-top: 4px;
  min-width: 1673px;
}

.top-bar {
  align-items: flex-start;
  background-color: black;
  display: flex;
  gap: 20px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1728px;
}

.bg-cover {
  background-color: #00000033;
  height: 1073px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1728px;
}

.wr-1-1 {
  height: 1157px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1728px;
}

.title {
  color: white;
  font-family: Helvetica;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  top: 211px;
  left: 575px;
  width: 1078px;
  height: 107px
}

.summary {
  color: white;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  top: 352px;
  left: 325px;
  width: 1078px;
  height: 107px
}

.learn-more {
  color: white;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 28.6px;
  position: absolute;
  height: 107px;
  width: 1078px;
  top: 475px;
  left: 325px
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

/* columns attempt */ 

.grid-container-visual1 {
  display: grid;
  gap: 10px;
  background-color: white;
  padding: 45px;
  width: 1728px;
}

.grid-item1 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-size: 25px;
  font-family: Helvetica;
  grid-gap:1em;
}

.image1 {
  grid-column: 1;
  grid-row: 1;
}

.insights1 {
  grid-column: 2;
  grid-row: 1;
  font-family: Helvetica;
  font-size: 25px;
}

.waste-decrease {
  width: 545px;
  height: 140px;
  top: 1348px;
  left: 1075px;
}

.increased {
  padding: 75px;
  width: 500px;
  height: 184px;
  top: 1526px;
  left: 1206px;
}

.learn-compost {
  width: 500px;
  height: 53px;
  top: 1607px;
  left: 1075px;
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}


.grid-container-visual2 {
  display: grid;
  width: 1728px;
  gap: 10px;
  background-color: white;
  padding: 60px;
}

.grid-item2 {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: Helvetica;
  font-size: 25px;
}

.insights2 {
  grid-column: 1;
  grid-row: 1;
  font-family: Helvetica;
}

.image2 {
  grid-column: 2;
  grid-row: 1;
}

.category {
  height: 229px;
  font-family: Helvetica;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}

.image_captions22 {
  font-size: 30px;
  width: 700px;
  height: 144px;
  top: 2415px;
  left: 877px;
}

.diff-materials {
  width: 674px;
  height: 153px;
  top: 2584px;
  left: 881px;
  line-height: 34px;
  text-align: left;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
}

.closer-look {
  padding: 45px;
  width: 1225px;
  height: 164px;
  top: 3057px;
  left: 174px;
  font-family: Helvetica;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
}

.grid-container-visual3 {
  display: grid;
  gap: 10px;
  background-color: white;
  padding: 45px;
  width: 1728px;
}

.grid-item3 {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: Helvetica;
  font-size: 25px;
}

.insights3 {
  grid-column: 1;
  grid-row: 1;
  font-family: Helvetica;
}

.image3 {
  grid-column: 2;
  grid-row: 1;
}

.recycling-types {
  padding: 30px;
}

.grease-specific {
  left: 50px;
  background: #F2CE3E;
  width: 415px;
  height: 532px;
}

.brown-grease {
  padding: 30px;
  width: 370px;
  height: 312px;
  top: 3443px;
  left: 170px
}

.targray {
  height: 20px;
  padding: 30px
}
/* final commentary */

.commentary1 {
  background-color: #000;
  padding: 60px;
  color: #FFF;
  font-family: Helvetica;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 1258px;
  height: 220px;
  top: 4330px;
  left: 235px;
}

.commentary2 {
  padding: 45px;
  width: 1700px;
  height: 164px;
  left: 174px;
  font-family: Helvetica;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
}