.body {
    width: auto
}

.navbar-link-container {
    height: 28px;
    position: relative;
    width: 100%
}

.ghg-header {
    color: white;
    font-family: Helvetica;
    font-size: 28px;
    height: 28px;
    top: 26px;
    right: 900px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    white-space: nowrap;
}

.wr-header {
    color: white;
    font-family: Helvetica;
    font-size: 28px;
    letter-spacing: 0;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    height: 28px;
    top: 26px;
    right: 570px;

}

.c-header {
    color: white;
    font-family: Helvetica;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    height: 28px;
    top: 26px;
    right: 350px;
    font-weight: 700;
}

.engage-header {
    color: white;
    font-family: Helvetica;
    font-size: 28px;
    right: 100px;
    letter-spacing: 0;
    line-height: 10.6px;
    position: absolute;
    text-align: center;
    top: 36px;
    white-space: nowrap;
    height: 28px;
    font-weight: 700;
}

.overlap-group6 {
    align-self: flex-start;
    height: 1100px;
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
    width: auto;
    /*background-image: url("NUsigndark.png");*/
}

/*top bar and "northeastern" */
.overlap-group {
    height: 53px;
    margin-top: -5px;
    position: relative;
    width: 48px;
}

.top-bar {
    align-items: flex-start;
    background-color: var(--black);
    display: flex;
    gap: 20px;
    height: 48px;
    left: 0px;
    position: absolute;
    top: 38px;
    width: 100%;
}

.northeastern-university {
    color: white;
    font-family: Lava Telugu;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 10px;
    min-height: 27px;
    height: 27px;
    left: 68px;
}

.n {
    background-color: #d41a2b;
    height: 55px;
    left: 0px;
    position: absolute;
    top: 5px;
    width: 55px;
}

.n-1 {
    color: white;
    font-family: var(--font-family-lava_telugu-regular);
    font-size: 35px;
    font-weight: 400;
    left: 11px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    width: 28px;
}

/* wording at the top */

.white-guide-bar {
    align-items: flex-end;
    background-color: #ffffff33;
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 80px;
    left: 0px;
    position: absolute;
    top: 86px;
    width: 100%;
}

.flex-row {
    align-items: flex-end;
    display: flex;
    gap: 676px;
    margin-top: 4px;
    min-width: 100%;
}

.top-bar {
    align-items: flex-start;
    background-color: black;
    display: flex;
    gap: 20px;
    height: 48px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%
}

.bg-cover {
    background-color: #00000033;
    height: 1000px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%
}

.wr-1-1 {
    background-size: cover;
    left: 0px;
    position: absolute;
    top: 0;
    height: 1157px;
    width: 100%
}

/* title words */

.truth {
    color: white;
    font-family: Helvetica;
    font-size: 75px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 35px;
    position: absolute;
    top: 450px;
    left: 300px;
}

.sustainability {
    color: white;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 35px;
    position: absolute;
    top: 440px;
    left: 880px;
}

.at_northeastern {
    color: white;
    font-family: Helvetica;
    font-size: 75px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 35px;
    position: absolute;
    top: 450px;
    left: 1550px;
}

/* body words*/

.words {
    color: white;
    left: 30px;
    height: 300px;
    padding: 100px
}

.header_words {
    color: #FFF;
    width: 2000px;
    height: 50px;
    margin-top: 150px;
    margin-left: 100px;
    flex-shrink: 0;
    font-family: Helvetica;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.section1 {
    width: 75%;
    margin-top: 100px;
    flex-shrink: 0;
    font-family: Helvetica;
    font-size: 35px;
    margin-left: 200px
}

.link1 {
    text-decoration: none;
    font-weight: 700;
    color: #70C29A;
}


.question {
    color: #FFF;
    height: 50px;
    width: 2000px;
    margin-top: 150px;
    margin-left: 100px;
    flex-shrink: 0;
    font-family: Helvetica;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.section2 {
    width: 75%;
    height: 500px;
    flex-shrink: 0;
    font-family: Helvetica;
    font-size: 35px;
    margin-left: 200px;
    margin-top: 100px
}