/* ref:
CSS Flex Container: https://www.w3schools.com/css/css3_flexbox_container.asp
box-sizing: border-box: https://blog.csdn.net/sinat_35538827/article/details/109062694
flex-wrap: https://www.w3schools.com/cssref/css3_pr_flex-wrap.php
layout: https://www.w3schools.com/html/html_layout.asp
clear and clearfix: https://www.w3schools.com/css/css_float_clear.asp
block and inline element: https://www.w3schools.com/html/html_blocks.asp
 */

.content-vertical-center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

.content-horizontal-center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.horizontal-center{
    margin: auto;
}

body{
    background: white;
    /* margin: auto; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.top{
    width: 100%; 
    min-height: 48px; 
    background: black;
}

.nbg{
    min-width: 48px; 
    min-height: 48px;
}

.n{
    width: 100%; height: 100%; text-align: center; color: white; font-size: 32px; font-family: 'Times New Roman', Times, serif; font-weight: 400; word-wrap: break-word;
}

.northeastern-university{
    color: white; font-size: 32px; font-family: 'Times New Roman', Times, serif; font-weight: 400; word-wrap: break-word;
    margin-left: 10px;
}

.block-title-intro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: relative;
    width:100%; 
    height: 761.11px;
    margin-top: 0px; 
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
    
}

.musk1{
    -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) -10%, black 45%, black 80%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 8%, black 45%, black 88%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-size: 100%;
    mask-size: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.title-intro-dim-bg-cover{
    object-fit: cover;
    position: absolute;
    top: 0px;
    width:100%; 
    height: 761.11px;
    margin: auto; 
    margin-top: 0px; 
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 1;
}

.title-intro-bg-img{
    object-fit: cover;
    position: absolute;
    top: 0px;
    margin: auto;
    width: 100%;
    height: 761.11px;
    z-index: -1;
}

.title-intro-dim-bg-btm{
    object-fit: cover;
    position: absolute;
    top: 0px;
    width:100%; 
    height: 761.11px;
    margin: auto; 
    margin-top: 0px; 
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: -2;

}

.navbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 12px;
    /* padding-left: 10px; */
    padding-right: 30px;
    /* prevent this element out of box because of padding */
    box-sizing: border-box; 
    z-index: 2;
}

.navtextmain{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    height: 100%;
}

.navtext{
    text-align: center; color: white; font-size: 28px; font-family: Helvetica; font-weight: 700; word-wrap: break-word;
    margin-left: 15px; margin-right: 15px;
}

.navtextsub{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.text-bg-trspr{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    z-index: 2; 
    margin-top: 70px; margin-bottom: 0px;
    margin-left: auto; margin-right: auto; width: 65%; 
    border-radius: 15px;
}

.block-ylw-org{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width:100%; 
    margin-top: -190px; 
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 1;
}

.block-what-trspr{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width:100%; 
    margin-top: 0px; 
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.title-whatdoes-container{
    width: 90%;
    height: 52px;
    margin-top: 250px;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.title-whatdoes{
    width: 100%;
    position: absolute;
}

.title-whatdoes-highlight-under1{
    width: 20.2%;
    height: 100%;
    position: absolute;
    left: 28.9%;
    z-index: -1;
}

.text-withapopulation{
    width:54%;
    margin-top: 15px;
    margin-bottom: 120px;
}

.linktext{
    color: white; font-size: 30px; font-family: Helvetica; font-weight: 700; text-decoration: underline; word-wrap: break-word;
}

.block-whatdo-trspr{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width:100%; 
    margin-top: 0px; 
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.text-whatdo{
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-delve {
    width:54%;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 180px;
}

/* .block-what{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width:100%; 
    margin-top: 0px; 
    margin-bottom: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
} */

.block-linkto-subsection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width:100%; 
    margin-top: -100px; 
    margin-bottom: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
    z-index: 1;
}

.subsectionlink-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 16px; 
    width:75%; 
    height: 313.8px;
    margin-top: 0px; 
    margin-bottom: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    
}

.subsectionlink-bg-img{
    object-fit: cover;
    position: absolute;
    top: 0px;
    margin: auto;
    border-radius: 16px; 
    width: 100%;
    height: 313.8px;
    z-index: -1;
}

.subsectionlink-dim-bg-cover{
    object-fit: cover;
    position: absolute;
    top: 0px;
    margin: auto;
    border-radius: 16px; 
    width: 100%;
    height: 313.8px;
    z-index: 1;
}

.subsectionlink-text-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: left;
    width:100%; 
    height: 100%;
    margin-top: 0px; 
    padding-top: 0px;
    padding-bottom: 0px;
}

.title-in-subsectionlink-text-container{
    width: 70%;
    margin-top: 3%;
    margin-bottom: 15px;
    margin-left: 50px;
    z-index: 2; 
    color: white; font-size: 48px; font-family: Helvetica; font-weight: 700; word-wrap: break-word;
}

.text-in-subsectionlink-text-container{
    width: 65%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    z-index: 2; 
    color: white; font-size: 30px; font-family: Helvetica; font-weight: 400; word-wrap: break-word;
}

/* .footbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    width:100%; 
    margin-top: 0px; 
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: -1;
}

.dim-footbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width:100%; 
    height: 100%;
    margin-top: 0px; 
    margin-bottom: 0px;
    padding-top: 210px;
    padding-bottom: 0px;
} */
