/* waste and recycling styles */ 
/*attempting to use figma*/
.body {
  width:1500px;
  display: flex;
  flex-direction: column;
  min-width: 1250px;
}

.waste-recycling {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%
}

.overlap-group6 {
  text-align: center;
  align-self: flex-start;
  height: 1200px;
  margin-left: 0px;
  margin-top: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*top bar and "northeastern" */ 
*/
.overlap-group {
  height: 53px;
  margin-top: -5px;
  position: relative;
  width: 48px;
}

.top-bar {
  background-color: black;
  height: 48px;
  position: absolute;
  top: 5px;
  width: 100%;
}

/* .northeastern-university {
  text-align: center;
  color: white;
  font-family: Lava Telugu;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 15px;
  height: 48px;
  left: 68px;
} */

/* .n {
  background-color: #d41a2b;
  height: 55px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 48px;
} 

.n-1 {
  color: white;
  font-family: var(--font-family-lava_telugu-regular);
  font-size: 32px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  width: 28px;
}

/* wording at the top */ 

.white-guide-bar {
  align-items: flex-end;
  background-color: #ffffff33;
  display: flex;
  flex-direction: column;
  left: 0px;
  position: absolute;
  top: 55px;
  width: 100%;
  height: 80px
}

/* .navtextmain{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
  height: 100%;
  padding-right: 15px
}  */

.top-bar {
  align-items: flex-start;
  background-color: black;
  display: flex;
  gap: 20px;
  height: 55px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.bg-cover {
  background-color: #00000033;
  height: 1157px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.wr-1-1 {
  height: 1157px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.title {
  text-align: center;
  color: white;
  font-family: Helvetica;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0;
  position: absolute;
  top: 175px;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%
}

.summary {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  text-align: left;
  color: white;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: 500;
  position: absolute;
  padding-top: 200px
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.piccaption {
  margin-left: 50px;
  margin-top: -15px;
  margin-bottom: 100px;
  align-items: left;
  font-family: Helvetica;
  font-size: 16px;
  color: #B3B3B3;
}

/* columns attempt */ 

.all-visuals {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  align-items: center;
}

.grid-container-visual1 {
  display: grid;
  width: 80%;
  gap: 10px;
  background-color: white;
  padding: 10px;
}

.grid-item1 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-size: 22px;
  font-family: Helvetica;
  grid-gap: 1em;
  width: 100%;
}

.graph1 {
  grid-column: 1;
  grid-row: 1;
}

.graph1title {
  font-size: 18px;
  padding-bottom: 10px;
  color: #B3B3B3;
}

.insights1 {
  grid-column: 2;
  grid-row: 1;
  font-family: Helvetica;
  margin-left: 15px;
  width: 100%
}

.waste-decrease {
  margin-top: 15px;
}

.increased {
  margin-top: 15px;
}

.learn-compost {
  height: 50px;
  margin-top: 25px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
}


.grid-container-visual2 {
  display: grid;
  width: 80%;
  gap: 10px;
  background-color: white;
  padding: 10px;
  margin: 100px;
}

.grid-item2 {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: Helvetica;
  font-size: 20px;
}

.insight2 {
  grid-column: 2;
  grid-row: 1;
  font-family: Helvetica;
  width: 100%;
  height: 100%;
  margin-left: 15%
}

.graph2 {
  grid-column: 1;
  grid-row: 1;
}

.graph2title {
  font-style: italic;
  font-size: 16px;
  color: #B3B3B3;
}

.category {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
}

.list {
  margin-top: 25px;
  margin-left: 50px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}

.image_captions22 {
  margin-top: 25px;
  font-size: 22px;
  background: #F2CE3E;
  padding: 20px
}

.diff-materials {
  font-size: 22px;
  background-color:#70C29A;
  padding: 20px;
}

.closer-look {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: 700;
  align-items: center;
  letter-spacing: 0em;
  text-align: center;
}

.closer-container {
  width: 111%;
  background: linear-gradient(100deg, #DB673D 0%, #F2CE3E 100%)
}

.grid-container-visual3 {
  margin: 100px;
  display: grid;
  width: 80%;
  gap: 10px;
  background-color: white;
  padding: 10px;
}

.grid-item3 {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-family: Helvetica;
  font-size: 20px;
}

.insight3 {
  grid-column: 2;
  grid-row: 1;
  font-family: Helvetica;
  margin-left: 15px;
  width: 100%;
  height: 100%
}

.graph3 {
  grid-column: 1;
  grid-row: 1;
}

.graph3title {
  font-size: 18px;
  color: #B3B3B3;
}

.recycling-types {
  font-size: 22px;
}

.grease-specific {
  margin-top: 25px;
  background: #70C29A;
  font-size: 18px;
}

.brown-grease {
  font-size: 18px;
  padding: 15px;
}

.targray {
  text-indent: 25px;
  padding-bottom: 15px;
  font-style: italic;
}

/* final commentary */

.commentary1 {
  align-items: center;
  width: 111%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(100deg,#70C294 0%, #F2CE3E 100%);
}

.cardboard {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  color: #FFF;
  font-family: Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 400; 
}

.commentary2 {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 125px;
  height: 120px;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  text-align: left;
}

.citations {
  font-family: Helvetica;
  font-weight: 700px;
  font-size: 18px;
  line-height: 20px;
  padding: 20px;
  margin-top: 150px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  color: #999999;
}

.sources {
  height: 50px;
  font-size: 22px;
  font-weight: bold;
}

.npr {
  height: 50px
}

.targraycite {
  height: 50px
}